.wrapper{
    background-color: blueviolet;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
  }
  
  .logo {
    font-size: 1.8rem;
    color: var(--primary-text-color);
  }
  
  .links {
    display: flex;
    gap: 1rem;
  }
  
  .links a {
    color: var(--primary-text-color);
  }
  .burgerBtn {
    width: 2rem;
    height: 2rem;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
  }
  
  .burgerBtn img {
    width: 100%;
    height: 100%;
  }
  
  .mobileMenu {
    display: none;
  }
  
  @media only screen and (max-width: 768px) {
    .wrapper nav {
      display: none;
    }
  
    .burgerBtn {
      display: block;
    }
  
    .mobileMenu {
      display: flex;
      justify-content: center;
      background-color: #948979;
      position: fixed;
      width: 100%;
      height: calc(100vh - 80px);
      left: -1000px;
      top: 80px;
      transition: 0.3s;
    }
  
    .mobileMenuOpen {
      left: 0px;
    }
  
    .mobileLinks {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      padding-top: 7rem;
    }
  }