.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 500px;
  }
  
  .imgSection {
    height: 600px;
  }
  
  .imgSection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .info {
    padding: 2rem;
    padding-bottom: 0;
    display: grid;
    justify-items: end;
    gap: 2rem;
  }
  
  .info h1 {
    font-size: 3rem;
  }
  
  .info p {
    text-align: end;
    letter-spacing: 1px;
    line-height: 1.3;
  }
  
  .deleteButton {
    justify-self: end;
    align-items: end;
  }