.cardsWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 2rem;
    margin: 2rem 1rem;
    
}
@media only screen and (max-width: 768px) {
    .cardsWrapper {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media only screen and (max-width: 550px) {
    .cardsWrapper {
      grid-template-columns: 1fr;
    }
  }